.display{
    overflow: scroll;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 20px; 
}

.container, .display{
    border: 1px solid black;
    width: 30%;
    margin: auto;
    text-align: center;
}

.buttons{
    font-size: 30px;
}

.button{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}